{% extends 'airline/layout/layout.html' %}
{% block script %}
<script type="text/javascript">
	function qnacheckUpdate() {
		if(document.write.title.value == ""){
			alert("제목을 입력하십시오!");
		}else if(document.write.content.value == ""){
			alert("내용을 입력하십시오!")
		}else{
			document.write.submit();
		}
	}
</script>
{% endblock %}
{% block content %}
<div>
    <form action="/board/qna/qnacheckUpdate/" method="post" name = "write">
        {% csrf_token %}
        <input type="hidden" name = "no" value="{{ no }}">
        <table>
            {{ forms.as_table }}
        </table>
        <div>
            <input type="button" value="수정" onclick="javascript:qnacheckUpdate()">
        </div>
    </form>    
</div>
{% endblock %}