{% extends 'airline/layout/layout.html' %}

{%comment%} 체크인 전에 좌석값이 지정되지않았을경우(None) 좌석지정페이지로 강제이동 {% endcomment %}
{% block script %}
<script type="text/javascript">
    function seat_select(){
        if(document.getElementById("seat").value == "None"){
            alert('{{msg}}');
            location.href = '{{ url }}'
        }else{
            document.reser.submit();
        }
    }
    

</script>
{% endblock %}



{% block content %}


<input type ="hidden" name ="seat" value ="{{passenger.seat}}" id="seat">

{{idx}} / 
{{passenger.check_in}} /
{{passenger.seat}} 
<div>
    <h2>체크인 가능 예약</h2>
</div> <br>

{% if passenger.check_in == 0 %}
<div>
    <table width="1400px">
<hr>
        <tr>
            <td>{{reservation.f_no.route_no.departure.name}} {{reservation.f_no.route_no.departure.code}}
            <td>
            <td>{{reservation.f_no.route_no.arrival.name}} {{reservation.f_no.route_no.arrival.code}}
            <td>
        </tr>
        <tr>
            <td>{{reservation.f_no.departure_date}}
            <td><img src="/static/images/gogo.png" alt="airplane img">
            <td>{{reservation.f_no.arrival_date}} 
            <td>{% if checkin_yn %}

                <form action = "/checkin/success/" method="get" name = "reser">
                    <input type ="hidden" name = "re_idx" value="{{idx}}">    
                    <input type="button"  value = "체크인 하기" onclick="seat_select()">
                </form>
                {% else %}
                  체크인은 출발 24시간 전부터 가능합니다.
                {% endif %}  
        </tr>
        <tr>
            <td>{{reservation.f_no.departure_time}}
            <td>
            <td>{{reservation.f_no.arrival_time}}
            <td>      
        </tr>  
        <tr>     
            <td>
            <td>
            <td>
            <td>
        </tr>
    </table>
    <hr>
    <br>
    </div>
    
    
    {% else %}
    
    이미 체크인이 완료된 예약내역입니다
    <br><br><br><br><br>
    <div>
        <table width="600px">
            <tr>
                <td>{{reservation.f_no.route_no.departure.name}} {{reservation.f_no.route_no.departure.code}}
                    <img src="/static/images/gogo.png" alt="airplane img">
                    {{reservation.f_no.route_no.arrival.name}} {{reservation.f_no.route_no.arrival.code}}
                    <td><form action = "/checkin/boardingpass/" method="get" name = "idx">
                            <input type ="hidden" name = "idx" value="{{idx}}">
                            <input type="submit"  value = "항공권 보기">
                        </form>
            </tr>
            <tr>
                <td>
                <td><a href="/seats/seat">
                    <input type="button" value="좌석 변경">
                   </a>
            </tr>
        </table>

        <br>
        <br>
        <br>
        <br>
        {% endif %}
        <input type="button" value="떠주세요" onclick="seat_select()">
        
 
{% endblock %}
