{%extends 'airline/layout/layout.html'%}

{%block content%}
<div>
<br><br><br><br>
<h1>국내선</h1>
<p>시간대, 요일, 목적지에 따라 다양하고 합리적인 운임을 제공합니다.</p>
<br><br>
</div>
    <table border="3" align="center"
    width="1200" height="1000">
        <tr>
            <td align="center">운임조건</td>
            <td align="center">특가운임</td>
            <td align="center">할인운임</td>
            <td align="center">정상운임</td>
        </tr>
        <tr>
            <td align="center">항공권 변경</td>
            <td align="center">×</td>
            <td align="center">×</td>
            <td align="center">×</td>
        </tr>
        <tr>
            <td align="center">항공권 환불</td>
            <td align="center">○</td>
            <td align="center">○</td>
            <td align="center">○</td>
        </tr>
        <tr>
            <td align="center">마일리지 적립</td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>
        <tr>
            <td align="center">사전좌석배정</td>
            <td align="center">○</td>
            <td align="center">○</td>
            <td align="center">○</td>
        </tr>
        <tr>
            <td align="center">무료 수하물</td>
            <td align="center" size="6">○</td>
            <td align="center" size="6">○</td>
            <td align="center" size="6">○</td>
        </tr>
        <tr>
            <td align="center">좌석 승급</td>
            <td align="center" size="6">×</td>
            <td align="center" size="6">×</td>
            <td align="center" size="6">×</td>
        </tr>
        <tr>
            <td align="center">개인 할인</td>
            <td align="center" size="6">○</td>
            <td align="center" size="6">○</td>
            <td align="center" size="6">○</td>
        </tr>
        <tr>
            <td align="center">소아 할인</td>
            <td align="center" size="6">×</td>
            <td align="center" size="6">×</td>
            <td align="center" size="6">×</td>
        </tr>
    </table>    
<dib>




</dib>
{%endblock%}