{%extends 'airline/layout/layout.html'%}

{%block content%}

<br><br><br><br>
<h1>지연, 파손 및 유실물</h1>
<br><br><br><br>
<div>
    <li>
        <a href="/airline/damagedorlost/" tabindex="-1">수하물 지연</a>             
    </li>      
    <li>               
        <a href="/airline/broke/" tabindex="0">수하물 파손</a>
    </li>        
    <li>                
        <a href="/airline/lost/" tabindex="-1">유실물</a>                
    </li>
</div>

<br><br><br><br>
<h2 style="color: blue;">수하물 지연 안내</h2>
<div>
    <ul type="square">
        <ol>
            <li>체크인 시 항공사에서 고유번호가 부여된 위탁 수하물은, 공항의 컨베이어벨트를 통해 지상으로 이동된 후, 지상에서 차량으로 옮기는 과정과 다시 항공기에 싣는 과정을 거칩니다.</li><br>
            <li>수하물을 옮겨 싣는 과정을 항공사와 지상조업사가 담당하게 되는데 이 과정에서 수하물 파손의 위험이 있습니다.</li><br> 
        </ol>
    </ul>
</div>
<br><br>



{%endblock%}