{%extends 'airline/layout/layout.html'%}

{%block content%}

<br><br><br><br>
<h1>지연, 파손 및 유실물</h1>
<br><br><br><br>
<div>
    <li>
        <a href="/airline/damagedorlost/" tabindex="-1">수하물 지연</a>             
    </li>      
    <li>               
        <a href="/airline/broke/" tabindex="0">수하물 파손</a>
    </li>        
    <li>                
        <a href="/airline/lost/" tabindex="-1">유실물</a>                
    </li>
</div>

<br><br><br><br>
<h2 style="color: blue;">수하물 지연 안내</h2>
<div>
    <ul type="square">
        <ol>
            <li>수하물 지연은 수하물 처리 시스템 오류, 항공관제 지연, 공항시설, 날씨, 정비문제 등 다양한 요인에 의해 발생되며, <span style="color:blue;">대장희지항공</span>은 수하물 지연 시 신속하게 추적 및 배송해 드리고자 노력하고 있습니다.</li><br>
            <li>수하물 지연이 발생한 즉시 <span style="color:blue;">대장희지항공</span> 직원에게 알려주시기 바라며, 수하물 지연 신고를 할 수 있도록 성심껏 도와드리겠습니다.</li><br> 
        </ol>
    </ul>
</div>
<br><br>



{%endblock%}