{%extends 'airline/layout/layout.html'%}

{%block content%}

<br><br><br><br>
<h1>지연, 파손 및 유실물</h1>
<br><br><br><br>
<div>
    <li>
        <a href="/airline/damagedorlost/" tabindex="-1">수하물 지연</a>             
    </li>      
    <li>               
        <a href="/airline/broke/" tabindex="0">수하물 파손</a>
    </li>        
    <li>                
        <a href="/airline/lost/" tabindex="-1">유실물</a>                
    </li>
</div>

<br><br><br><br>
<h2 style="color: blue;">수하물 지연 안내</h2>
<div>
    <ul type="square">
        <ol>
            <li>대한항공 유실물센터에서 유실물을 보관하고 있습니다. 유실물은 대장희지항공 탑승수속 카운터, 직영 라운지, 기내에서 습득된 물품에 한합니다.</li><br>
            <li>일반 습득물은 30일간 보관 후 폐기됩니다.</li><br> 
            <li>여권, 신분증 등 개인 신상과 관련된 물품이나 현금, 귀금속 등 귀중품 및 노트북/테블릿 등 전자제품은 각 공항 경찰대로 인계됩니다.</li><br> 
        </ol>
    </ul>
</div>
<br><br>



{%endblock%}