{%extends 'airline/layout/layout.html'%}

{%block content%}
<br><br><br><br>
<h1>운송 제한 물품</h1>
<p>안전한 항공 여행을 위해 반입이 금지되는 물품이 있습니다.</p>
<br><br><br><br>
<div>
    <li>
        <a href="/airline/restricteditems/" tabindex="-1">항공기 반입금지 물품</a>             
    </li>      
    <li>               
        <a href="/airline/no/" tabindex="0">제한적으로 기내 반입 가능한 물품</a>
    </li>        
    <li>                
        <a href="/airline/checkno/" tabindex="-1">위탁 수하물 제한 물품</a>                
    </li>
</div>
<br><br><br><br>
<h2 style="color: blue;">액체류</h2>
<br>
<div>
    <ul type="square">
        <ol>
            <li>음료, 식품, 화장품 등 액체류(스프레이) 및 젤류(젤 또는 크림) 물품</li><br>
            <li>개별 용기당 100ml 이하로 1인당 총 1L 용량의 비닐 지퍼백 1개</li><br>
        </ol>
    </ul>
</div>
<br>
<h2 style="color: blue;">MacBook 배터리 리콜 대상</h2>
<br>
<div>
    <ul type="square">
        <ol>
            <li>배터리 화재 위험이 있는 MacBook Pro (Retina, 15-inch, Mid 2015) 중 리콜하여 수리되지 않은 일부 제품은 국가/공항에 따라 항공기 운송(휴대/위탁) 금지 또는 휴대만 가능</li><br>
        </ol>
    </ul>
</div>
<br>
<h2 style="color: blue;">의약품</h2>
<br>
<div>
    <ul type="square">
        <ol>
            <li>여행 중 필요한 개인용 의약품</li><br>
        </ol>
    </ul>
</div>
<br>
<h2 style="color: blue;">기타</h2>
<br>
<div>
    <ul type="square">
        <ol>
            <li>1인당 1개 이하의 라이터 및 안전성냥</li><br>
            <li>1인당 2.5kg 이하의 드라이아이스</li><br>
            <li>항공사의 승인을 받은 의료용품</li><br>
            <li>1인당 12oz(350ml) 이하의 파우더류 물품</li><br>
        </ol>
    </ul>
</div>
<br><br><br><br>




{%endblock%}